@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* padding: 0 4px; */
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
}
code {
  font-family: "Poppins", sans-serif;
}
/* Custom Classes */
:root {
  --color1 : #127A43;
  --color2 : #E6460E;
  --color3 : #136793;
  --color4 : #9303AA;
  --color5 : #F30206;
  --color6 : #0474C8;
  --color7 : #FA4C03;
  --color8 : #C79300;
}

.container{
  max-width: 1120px !important;
}
.ls_bar {
  position: relative;
}
.ls_bar::after, .ls_bar::before {
	content: '';
	position: absolute;
	background: var(--color5);
	width: 12px;
	height: 47px;
	transform: translateY(-50%);
	right: 100%;
	top: 50%;
}
.ls_bar::after {
  right: inherit;
  left: 100%;
}

.ls_box-border {
  border-left: 5px solid var(--color1);
}
.ls_box-border:after,
.ls_box-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 5px;
}
.ls_box-border:after {
  bottom: 0;
  top: inherit;
}

.ls_box-border:first-child h2 {
  color: var(--color1);
}
.ls_box-border:first-child {
  border-color: var(--color1);
}
.ls_box-border:first-child:after,
.ls_box-border:first-child:before {
  background: var(--color1);
}

.ls_box-border:nth-child(2) h2 {
  color: var(--color2);
}
.ls_box-border:nth-child(2) {
  border-color: var(--color2);
}
.ls_box-border:nth-child(2):after,
.ls_box-border:nth-child(2):before {
  background: var(--color2);
}

.ls_box-border:nth-child(3) h2 {
  color: var(--color3);
}
.ls_box-border:nth-child(3) {
  border-color: var(--color3);
}
.ls_box-border:nth-child(3):after,
.ls_box-border:nth-child(3):before {
  background: var(--color3);
}

.ls_box-border:nth-child(4) h2 {
  color: var(--color4);
}
.ls_box-border:nth-child(4) {
  border-color: var(--color4);
}
.ls_box-border:nth-child(4):after,
.ls_box-border:nth-child(4):before {
  background: var(--color4);
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
	color: var(--color5) !important;
	transform: translateX(-31px);
	background: #fff;
  z-index: 999999  !important;
}
.slick-arrow.slick-prev {
	transform: translateX(32px);
}

.ls-round-bdr {
	height: 180px;
	width: 180px;
	border: 5px solid transparent;
	display: flex;
	justify-content: center;
	align-items: center;
  background: #fff;
  position: relative;
}
.round-bdr {
  position: relative;
}
.round-bdr::after {
	content: "";
	position: absolute;
	background: var(--color5);
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;
	height: 160px;
	z-index: -1;
}
.round-bdr:first-child .ls-round-bdr {
  border-color: var(--color6);
  transform: translateY(58px);
}
.round-bdr:first-child .ls-round-bdr path {
  fill: var(--color6);
}
.round-bdr:nth-child(2) .ls-round-bdr {
  border-color: var(--color4);
  transform: translateY(30px);
}
.round-bdr:nth-child(2) .ls-round-bdr path {
  fill: var(--color4);
}
.round-bdr:nth-child(3) .ls-round-bdr {
  border-color: var(--color7);
}
.round-bdr:nth-child(3) .ls-round-bdr path {
  fill: var(--color7);
}
.round-bdr:nth-child(4) .ls-round-bdr {
  border-color: var(--color8);
  transform: translateY(-30px);
}
.round-bdr:nth-child(4) .ls-round-bdr path {
  fill: var(--color8);
}
.serial-round {
  position: absolute;
  top: 0px;
  width: 100%;
}
.serial-shape {
	height: 55px;
	transform: rotate(-9deg);
	position: absolute;
	top: -5px;
	left: -18px;
}
.serial-no {
  position: absolute;
  top: 1px;
  left: 50px;
  font-size: 30px;
  color: #fff;
}